.boxes{
    flex:1;
    position: relative;
}


.icon{
    position: absolute;
    right:12px;
    top:50%;
    /* transform: translateY(-50%); */
    z-index: 10;
    cursor: pointer;


}

.icon svg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    margin-bottom: 8px;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.input{
    position: relative;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    width: 100%;
    min-height: 40px;
    padding: 6px 22px 6px 6px;
    background-color: white;
    color: var(--text-color);
    font-size: 16px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2) inset , 0 3px 6px rgba(0, 0, 0, 0.2) ;

}
.input:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) inset;
}
.input:valid ~.line{
    width: 100%;
}

.line{
    transition: width 0.2s linear;
    z-index: 10;
    display: block;
    position: absolute;
    bottom: -2px;
    width:0;
    left: 0;
    height: 3px;
    background-color: var(--text-color);
}


::placeholder{
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
}
.error{
    color: red;
    font-size: 12px;
}



