
.items {
  font-size: 16px;
  height: 40px;
  padding: 6px 6px;
}
.text {
  display: block;
  height: 100%;
  width: 150px;
  padding: 6px;
}

.staffs {
  text-decoration: underline;
}
.button {
    font-weight: bold;
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;
    padding: 0 6px;
  }