.container {
  width: 100%;
  overflow: auto;
  height: 350px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding-bottom: 12px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.header {
  height: 40px;
  color: 20px;
  font-weight: 600;
  background-color: var(--text-color);
  color: white;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.5px;
}
.text {
  padding: 6px 12px;
}


::-webkit-scrollbar {
  display: none;  
}


.content:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}