.container {
  width: 1050px;
  overflow: auto;
  height: 350px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding-bottom: 12px;
}
.table {
  overflow: auto;
  border-collapse: collapse;
}

.header {
  height: 40px;
  background-color: var(--text-color);
  color: white;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.5px;
}

.text {
  min-width: 120px;
  padding: 6px ;
}




.content:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}